/*---------------------------------------------------------------------------*
 * SF UI Display
 *---------------------------------------------------------------------------*/

/** Black */
@font-face {
  font-family: "SF Display Black";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}

/** Bold */
@font-face {
  font-family: "SF Display Bold";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display Heavy";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SF Display Light";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SF Display Medium";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display Regular";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Display Semibold";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}

/** Thin */
@font-face {
  font-family: "SF Display Thin";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}

/** Ultralight */
@font-face {
  font-family: "SF Display Ultralight";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

#navlink {
  font-size: 25px;
  text-align: center;
  color: black;
  text-decoration: none;
}

.bigtitle-smalltext {
  color: rgba(255, 255, 255, 0.87)
}

.subtitle-scroll {
  color: rgba(255, 255, 255, 0.60)
}

.big-title {
  font-family: 'SF Display Bold', sans-serif;
  font-size: 70px;
}

.big-title-subtitle {
  font-family: 'SF Display Medium', sans-serif;
  font-size: 20px;
}

.article-subtitle {
  font-family: "SF Display Semibold", sans-serif;
  font-size: 35px;
  padding-top: 70px;
}

.article-subtitle2 {
  font-family: "SF Display Semibold", sans-serif;
  font-size: 35px;
}

.article-subtitle-top {
  font-family: "SF Display Semibold", sans-serif;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.87);
}

.image-subtitle {
  font-family: "SF Display Light", sans-serif;
  font-size: 14px;
}

.sections-list {
  font-family: "SF Display Medium", sans-serif;
  font-size: 22px;
  list-style-type: none;
}

.section-list-item {
  font-family: 'SF Display Medium', sans-serif;
}

.subtitle-scroll {
  font-family: "SF Display Medium";
  font-size: 20px;
}

.urgent-text {
  display: inline-flex;
  font-family: "SF Display Bold";
  font-size: 14px;
  font-weight: 600;
}

.notice-text {
  display: inline;
}

a {
  color: #00818a;
}

.navbar-footer {
  width: 100%;
}

.article-container {
  max-width: 90%;
  margin: auto;
  padding-top: 7%;
}

code {
  font-family: 'SF Mono Regular';
}

html {
  scroll-behavior: smooth;
}

#construction {
  text-align: center;
  line-height: 52px;
  font-size: 80%vw;
  float: center;
  white-space: nowrap;
}

#top {
  position: fixed;
  top: 52px;
  width: 100%;
}

.error-title {
  font-family: "SF Display Medium";
  font-size: 60px;
  text-align: center;
  color: black;
}

.error-link {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.error-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  text-align: center;
}

.sadmac {
  height: 146.5px;
  width: 110px;
  background: url("../img/sad-mac-dark.png");
  background-origin: inherit;
  background-size: cover;
  background-position: left;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: #172029;
  color: rgba(255, 255, 255, 0.87);
}

a {
  color: #00818a;
}


button {
  background-color: #eee;
  color: #111;
}

.article-subtitle {
  color: rgba(255, 255, 255, 0.87);
}

.big-title {
  color: rgba(255, 255, 255, 0.87);
}

.big-title-subtitle {
  color: rgba(255, 255, 255, 0.60);
}

.urgent-text {
  color: #ff6b66;
}

#logo {
  background: url("../img/logo-white.png") no-repeat;
  width: 244px;
  height: 29px;
  background-origin: inherit;
  background-size: cover;
  background-position: left;
}

.navbar-link {
  color: rgba(255, 255, 255, 0.60);
}

.navbar-dropdown {
  background-color: #172029;
  color: rgba(255, 255, 255, 0.87);
}

.navbar-menu {
  color: rgba(255, 255, 255, 0.87);
}

#navbarBasicExample {
  background-color: #172029;
  color: rgba(255, 255, 255, 0.87);
}

.navbar-item {
  background-color: #172029;
  color: rgba(255, 255, 255, 0.87)
}

.navbar-brand {
  background-color: #172029;
  color: rgba(255, 255, 255, 0.87);
}

.navbar-link:not(.is-arrowless)::after {
  color: #72b2fd;
  margin-top: -.375em;
  right: 1.125em;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #72b2fd;
  margin-top: -.375em;
  right: 1.125em;
}

img {
  opacity: .75;
  transition: opacity .4s ease-in-out;
}

img:hover {
  opacity: 1;
}

.article-text {
  color: rgba(255, 255, 255, 0.60);
  font-size: 18px;
}

.article-section {
  max-width: 75%;
}

#about {
  padding-top: 140px;
  max-width: 75%;
}

#top {
  z-index: 1;
}

#top {
  background-color: #761A2F;
}

#construction {
  color: rgba(255, 255, 255, 0.87);
}

.navbar {
  background-color: #172029;
}

.navbar-footer {
  background-color: rgba(255, 255, 255, 0.08);
}

.navbar-footer {
  background-color: rgba(0, 0, 0, 0.08);
}

.error-title {
  color: rgba(255, 255, 255, 0.87)
}

.error-text {
  color: rgba(255, 255, 255, 0.60)
}

.error-link {
  color: #72b2fd;
}

.errorpage {
  background-color: #121212;
}

html {
  background-color: white;
}

html {
  background-color: #182952;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgb(240, 239, 244);
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#hint {
  color: #3273dc;
}

.tooltip .tooltiptext {
  top: -8px;
  left: 150%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}